@import "tailwindcss";

* {
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
  scroll-padding-top: 100px; /* Account for fixed navbar */
}

body {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-cyan-400: #22d3ee;
  --color-sky-500: #0ea5e9;
  --color-sky-800: #075985;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-neutral-500: #737373;
    --color-neutral-600: #525252;
    --color-cyan-400: #22d3ee;
    --color-sky-500: #0ea5e9;
    --color-sky-800: #075985;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
